[Unit]
Description=clamd anti-virus daemon
After=nss-lookup.target network.target

[Service]
Type=forking
RuntimeDirectory=clamav
RuntimeDirectoryMode=0755
LogsDirectory=clamav
LogsDirectoryMode=0755
ExecStartPre=/usr/bin/mkdir --parents /run/clamav/tmp
ExecStart=/usr/sbin/clamd --config-file=/etc/clamav/clamd.conf
Restart=on-failure
PIDFile=/run/clamav/clamd.pid

[Install]
WantedBy=multi-user.target
